{% extends 'base.html' %}
    {% block content %}


        <h1>Eden's Blog</h1>

        <h2>The current date/time is : {{ current_time }}</h2>

        {% for article in articles %}
            {% if article.draft == False %}
                <article>
                    <a href="{% url 'article_page' id=article.id %}">
                        <h2>{{ article.title }} by {{ article.author }}</h2>
                    </a>
                    <p>{{ article.body }}</p>
                    <p>Published: {{ article.published_date }}</p>
                </article>
            {% endif %}
        {% endfor %}
    {% endblock %}